//CTAUN COLORS
$ctaun_blue: #4c79ba;
$ctaun_green: #8ec54a;
$resources_purple: #9d1fd7;
$conferences_green: #138119;
$awards_bronze: #A56427;
$about_blue:#2d2fd2;


//Sustainable Development Goals Branding colors
$SDG1: #E5243B; // RED | NO POVERTY
$SDG2: #DDA63A; // MUSTARD | ZERO HUNGER
$SDG3: #4C9F38; // KELLY GREEN | GOOD HEALTH AND WELL-BEING
$SDG4: #C5192D; // DARK RED | QUALITY EDUCATION
$SDG5: #FF3A21; // RED ORANGE | GENDER EQUALITY
$SDG6: #26BDE2; // BRIGHT BLUE | CLEAN WATER AND SANITATION
$SDG7: #FCC30B; // YELLOW | AFFORDABLE AND CLEAN ENERGY
$SDG8: #A21942; // BURGUNDY RED | DECENT WORK AND ECONOMIC GROWTH
$SDG9: #FD6925; // ORANGE | INDUSTRY, INNOVATION AND INFRASTRUCTURE
$SDG10: #DD1367; // MAGENTA | REDUCED INEQUALITIES
$SDG11: #FD9D24; // GOLDEN YELLOW | SUSTAINABLE CITIES AND COMMUNITIES
$SDG12: #BF8B2E; // DARK MUSTARD | RESPONSIBLE CONSUMPTION AND PRODUCTION
$SDG13: #3F7E44; // DARK GREEN | CLIMATE ACTION
$SDG14: #0A97D9; // BLUE | LIFE BELOW WATER
$SDG15: #56C02B; // LIME GREEN | LIFE ON LAND
$SDG16: #00689D; // INDIGO | PEACE, JUSTICE AND STRONG INSTITUTIONS
$SDG17: #19486A; // NAVY BLUE | PARTNERSHIPS FOR THE GOALS


#megamenu .exo-menu>li.teacher-resourcesbg,
.teacher-resourcesbg ul {
    background: $resources_purple;
    color: #fff;


}
#megamenu .exo-menu>li.conferencesbg,
.conferencesbg  ul{
    background: $conferences_green;
    color:#fff;
}
#megamenu .exo-menu>li.awardsbg,
.awardsbg ul {
    background: $awards_bronze;
    color: #fff;
}
#megamenu .exo-menu>li.aboutbg,
.aboutbg ul{
     background: $about_blue;
     color: #fff;
}


.sdg1 {
    color: $SDG1;
}

.sdg1bg {
    background-color: $SDG1;
}
li.sdg1bg:hover {
    background-color: #fff;

    a {
        color: $SDG4;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg2 {
    color: $SDG2;
}

.sdg2bg {
    background-color: $SDG2;
}
li.sdg2bg:hover {
    background-color: #fff;

    a {
        color: $SDG2;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg3 {
    color: $SDG3;
}

.sdg3bg {
    background-color: $SDG3;
}
li.sdg3bg:hover {
    background-color: #fff;

    a {
        color: $SDG3;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}



.sdg4 {
    color: $SDG4;
}

.sdg4bg {
    background-color: $SDG4;
    
}
li.sdg4bg:hover {
    background-color: #fff;

    a {
        color: $SDG4;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}


.sdg5 {
    color: $SDG5;
}

.sdg5bg {
    background-color: $SDG5;
}
li.sdg5bg:hover {
    background-color: #fff;

    a {
        color: $SDG5;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}


.sdg6 {
    color: $SDG6;
}

.sdg6bg {
    background-color: $SDG6;
}
li.sdg6bg:hover {
    background-color: #fff;

    a {
        color: $SDG6;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg7 {
    color: $SDG7;
}

.sdg7bg {
    background-color: $SDG7;
}
li.sdg7bg:hover {
    background-color: #fff;

    a {
        color: $SDG7;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}


.sdg8 {
    color: $SDG8;
}

.sdg8bg {
    background-color: $SDG8;
}

li.sdg8bg:hover {
    background-color: #fff;

    a {
        color: $SDG8;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg8box {
    box-shadow: $SDG8;
    border-color:$SDG8;
}
.sdg9 {
    color: $SDG9;
}

.sdg9bg {
    background-color: $SDG9;
}
li.sdg9bg:hover {
    background-color: #fff;

    a {
        color: $SDG9;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg10 {
    color: $SDG10;
}

.sdg10bg {
    background-color: $SDG10;
}

li.sdg10bg:hover {
    background-color: #fff;

    a {
        color: $SDG10;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}



.sdg11 {
    color: $SDG11;
}

.sdg11bg {
    background-color: $SDG11;
}
li.sdg11bg:hover {
    background-color: #fff;

    a {
        color: $SDG11;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg12 {
    color: $SDG12;
}

.sdg12bg {
    background-color: $SDG12;
}
li.sdg12bg:hover {
    background-color: #fff;

    a {
        color: $SDG12;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg13 {
    color: $SDG13;
}

.sdg13bg {
    background-color: $SDG13;
}

li.sdg13bg:hover {
    background-color: #fff;

    a {
        color: $SDG13;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg14 {
    color: $SDG14;
}

.sdg14bg {
    background-color: $SDG14;
}
li.sdg14bg:hover {
    background-color: #fff;

    a {
        color: $SDG14;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg15 {
    color: $SDG15;
}

.sdg15bg {
    background-color: $SDG15;
}
li.sdg15bg:hover {
    background-color: #fff;

    a {
        color: $SDG15;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg16 {
    color: $SDG16;
}

.sdg16bg {
    background-color: $SDG16;
}
li.sdg16bg:hover {
    background-color: #fff;

    a {
        color: $SDG16;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}

.sdg17 {
    color: $SDG17;
}

.sdg17bg {
    background-color: $SDG17;
}
li.sdg17bg:hover {
    background-color: #fff;

    a {
        color: $SDG17;
        text-shadow: 0px 0px;
        font-weight: bold;
    }
}